.carbuds-logo{
    margin-top: 15vh;
    margin-bottom: 20px;
    border-radius: 20px;
    background-image: url('https://i.imgur.com/NdFMYFo.png');
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.register-link{
    font-weight: 600;
    
    &:hover{
        cursor: pointer;
    }
}