<div class="row">
    <div class="col-12">
        <div class="carbuds-logo"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-2 offset-md-5">
        <div class="card p-2 ds-1 login-card">            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
                <div class="row">

                    <div class="col-12">
                        <label for="loginFormEmailAddress" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="loginFormEmailAddress"
                            placeholder="name@example.com" formControlName="emailAddress">
                    </div>

                    <div class="col-12 mt-2">
                        <label for="loginFormPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="loginFormPassword"
                            placeholder="********" formControlName="password">
                    </div>

                    <div class="col-12 mt-4">
                        <button class="btn btn-primary btn-block">
                            <i class="fas fa-unlock-alt"></i> <span> Login </span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>