<div class="row">
    <div class="col-12 mt-3">
        <div class="carbuds-logo"></div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4 offset-md-4  mb-4">
        <div class="card p-2 ds-1 login-card">   
                <div class="row">
                    <div class="col-12">
                        <h4>Signup to Carbuds</h4>
                    </div>
                </div>         
            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegisterForm()">
                <div class="row">
                    <div class="col-12 col-md-6 mt-2">
                        <label for="registerFormEmailAddress" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="registerFormEmailAddress"
                            placeholder="jill@example.com" formControlName="emailAddress">
                    </div>
                    <div class="col-12 col-md-6 mt-2">
                        <label for="registerFormPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="registerFormPassword"
                            placeholder="********" formControlName="password">
                    </div>
                    <div class="col-12 mt-2">
                        <label for="registerFormUserName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="registerFormUserName"
                            placeholder="Jane Citizen" formControlName="name">
                    </div>
                    

                    <div class="col-12 mt-4">
                        <h5 class="mt-4 mb-0">Payment Details</h5>
                    </div>

                    <div class="col-12 mt-4">
                        <label for="registerFormCardNumber" class="form-label">Card Number</label>
                        <input type="text" class="form-control" id="registerFormCardNumber"
                            placeholder="xxxxxxxxxxxxxxxx" formControlName="paymentCardNumber">
                    </div>

                    <div class="col-12 col-md-6 mt-4">
                        <label for="registerFormCardExpiry" class="form-label">Card Expiry</label>
                        <input type="text" class="form-control" id="registerFormCardExpiry"
                            placeholder="mm/yyyy" formControlName="paymentCardExpiry">
                    </div>

                    <div class="col-12 col-md-6 mt-4">
                        <label for="registerFormCardCvv" class="form-label">Card CVV</label>
                        <input type="text" class="form-control" id="registerFormCardCvv"
                            placeholder="xxx" formControlName="paymentCardCvv">
                    </div>

                    <div class="col-12 mt-4">
                        <h5 class="mt-4 mb-0">License Details</h5>
                    </div>

                    <div class="col-12 mt-4">
                        <label for="country" class="form-label">State</label>
                        <select id="country" name="country" class="form-control" formControlName="licenseCountry">
                            <option value="ACT">ACT</option>
                            <option value="NSW">NSW</option>
                            <option value="NT">NT</option>
                            <option value="SA">SA</option>
                            <option value="TAS">TAS</option>
                            <option value="VIC">VIC</option>
                            <option value="WA">WA</option>
                        </select>
                    </div>

                    <div class="col-12 mt-4">
                        <label for="registerFormLicenseNumber" class="form-label">License Number</label>
                        <input type="text" class="form-control" id="registerFormLicenseNumber"
                            placeholder="xxxxxxxxx" formControlName="licenseNumber">
                    </div>

                    <div class="col-12 mt-4">
                        <button class="btn btn-primary btn-block">
                            <span> Register </span>
                        </button>
                    </div>

                    <div class="col-12 mt-4">
                        <p>Already have an account? <a (click)="onLoginClick()">login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

