<div class="row">
    <div class="col-8">
      <h2>All Users</h2>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row" >{{user.name}}</th>
            <td>{{user.email}}</td>
            <th>
              <button type="button" class="btn btn-info" (click)="onMoreInfoClick(user)"> More Info </button>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  