<div class="row">
    <div class="col-8">
      <h2>All Users</h2>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Card Number</th>
            <th scope="col">Card Expiry</th>
            <th scope="col">Card cvv</th>
            <th scope="col">License Country</th>
            <th scope="col">License Number</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row" >{{user.name}}</th>
            <td>{{user.email}}</td>
            <td>{{user.paymentCardNumber}}</td>
            <td>{{user.paymentCardExpiry}}</td>
            <td>{{user.paymentCardCvv}}</td>
            <td>{{user.licenseCountry}}</td>
            <td>{{user.licenseNumber}}</td>
            <!--<td>{{car.isActive ? 'Active' : 'Inactive'}}</td>-->
            <th>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-info" (click)="onMoreInfoClick(user)"> More Info </button>
                <button type="button" class="btn btn-danger" (click)="onDisableUserClick(user)">{{user.name ? 'disable': 'enable'}}</button>
              </div>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  