<div class="row">
    <div class="col-8">
      <h2>Bookings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">

      <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Current Bookings">
          <ng-template ngbPanelContent>
            <div *ngIf="currentBookings.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pickup</th>
                    <th scope="col">Return</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of currentBookings">
                    <td>{{utcEpochToLocalString(item.startDateTimeUtc)}}</td>
                    <td>{{utcEpochToLocalString(item.endDateTimeUtc)}}</td>
                    <th scope="col">
                      <div class="d-md-flex">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button (click)="onViewDetialilsClick(item.uuid)" class="btn btn-primary">View Details</button>
                          <button (click)="onReturnCarClick(item)" class="btn btn-secondary">Return car</button>
                        </div>                        
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="currentBookings.length == 0">
              <p>You have no current bookings</p>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-2" title="Upcoming Bookings">
          <ng-template ngbPanelContent>
            <div *ngIf="upcomingBookings.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pickup</th>
                    <th scope="col">Return</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of upcomingBookings">
                    <td>{{utcEpochToLocalString(item.startDateTimeUtc)}}</td>
                    <td>{{utcEpochToLocalString(item.endDateTimeUtc)}}</td>
                    <th scope="col">
                      <div class="d-md-flex">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button (click)="onViewDetialilsClick(item.uuid)" class="btn btn-primary">View Details</button>
                        <button (click)="onUnlockCarClick(item)" class="btn btn-secondary">Unlock Car</button>
                        </div>  
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="upcomingBookings.length == 0">
              <p>You have no upcoming bookings</p>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="static-3" title="Past Bookings">
          <ng-template ngbPanelContent>
            <div *ngIf="pastBookings.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Pickup</th>
                    <th scope="col">Return</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pastBookings">
                    <td>{{utcEpochToLocalString(item.startDateTimeUtc)}}</td>
                    <td>{{utcEpochToLocalString(item.endDateTimeUtc)}}</td>
                    <th scope="col">
                      <div class="d-md-flex">
                        <button (click)="onViewDetialilsClick(item.uuid)" class="btn btn-primary">View Details</button>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="pastBookings.length == 0">
              <p>You have no past bookings</p>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>