<div class="row">
    <div class="col-8">
      <h2>Bookings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <!-- For current bookings -->
      <h3>Current bookings</h3>
      <div *ngIf="currentBookings.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Booked for</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentBookings">
              <th>{{item.startDateTimeUtc}}</th>
              <td>{{item.status}}</td>
              <th scope="col">
                <div class="d-md-flex">
                  <button (click)="onViewDetialilsClick(item.uuid)" class="btn btn-primary">View Details</button>
                  <button class="btn btn-primary">Return car</button>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="currentBookings.length == 0">
        <p>You have no current bookings</p>
      </div>
      <!-- For upcoming bookings -->
      <h3>Upcoming bookings</h3>
      <div *ngIf="upcomingBookings.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Booked for</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of upcomingBookings">
              <th>{{item.startDateTimeUtc}}</th>
              <td>{{item.status}}</td>
              <th scope="col">
                <div class="d-md-flex">
                  <button (click)="onViewDetialilsClick(item.uuid)" class="btn btn-primary">View Details</button>
                  <button (click)="onUnlockCarClick()" class="btn btn-primary">Unlock car</button>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="upcomingBookings.length == 0">
        <p>You have no upcoming bookings</p>
      </div>
      <!-- For Past bookings-->
      <h3>Past bookings</h3>
      <div *ngIf="pastBookings.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Booked for</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pastBookings">
              <th>{{item.startDateTimeUtc}}</th>
              <td>{{item.status}}</td>
              <th scope="col">
                <div class="d-md-flex">
                  <button (click)="onViewDetialilsClick(item.uuid)" class="btn btn-primary">View Details</button>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="pastBookings.length == 0">
        <p>You have no past bookings</p>
      </div>
    </div>
  </div>