<div class="container">
    <div class="col-12 p-3">
        <form [formGroup]="addCarForm" (ngSubmit)="onSubmitAddCarForm()">
            <div class="row">
        
                <div class="col-md-6 mt-2">
                    <label for="carMake" class="form-label">Car Make</label>
                    <input type="text" class="form-control" id="carMake"
                        formControlName="carMake">
                </div>
        
                <div class="col-md-6 mt-2">
                    <label for="carModel" class="form-label">Car Model</label>
                    <input type="text" class="form-control" id="carModel"
                        formControlName="carModel">
                </div>
        
                <div class="col-md-6 mt-2">
                    <label for="carYear" class="form-label">Car Year</label>
                    <input type="number" class="form-control" id="carYear"
                        formControlName="carYear">
                </div>
        
                <div class="col-md-6 mt-2">
                    <label for="transmission" class="form-label">Transmission</label>
                    <select name="transmission" id="transmission" class="form-select" 
                    class="form-control" formControlName="carTransmission">
                        <option value="automatic">Automatic</option>
                        <option value="manual">Manual</option>
                    </select>
                </div>
        
                <div class="col-md-6 mt-2">
                    <label for="kilometers" class="form-label">Initial Kilometres</label>
                    <input type="number" class="form-control" id="kilometers"
                        formControlName="carKilometers">
                </div>
        
                <!--TODO the adress list will come from the adresses stored in the list
                the admin will select asdress on the map via the ádd parking location functionality-->
                <div class="col-md-6 mt-2">
                    <label for="location" class="form-label">Location</label>
                    <select name="location" id="location" class="form-select" 
                    class="form-control" formControlName="carLocation">
                        <option value="elsternwick">21 Elsternwick Road</option>
                        <option value="stKilda">37 St Kilda Road</option>
                        <option value="portPhillip">196 Port Phillip Avenue</option>
                        <option value="brighton">87 Brighton Street</option>
                    </select>
                </div>
        
                <div class="col-md-6 mt-2">
                    <label for="body" class="form-label">Body Type</label>
                    <select name="body" id="body" class="form-select" 
                    class="form-control" formControlName="carBody">
                        <option value="sedan">Sedan</option>
                        <option value="coupe">Coupe</option>
                        <option value="SUV">SUV</option>
                        <option value="sports car">Sports Car</option>
                        <option value="station wagon">Station Wagon</option>
                        <option value="hatchback">Hatchback</option>
                        <option value="convertible">Convertible</option>
                        <option value="mini van">Mini Van</option>
                        <option value="pickup truck">Pickup Truck</option>
                    </select>
                </div>
        
                <div class="col-md-6 mt-2">
                    <label for="status" class="form-label">Status</label>
                    <select name="status" id="status" class="form-select" 
                    class="form-control" formControlName="carStatus">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
        
                <div class="col-md-3 col-6 mt-2">
                    <label for="doors" class="form-label">Doors</label>
                    <input type="number" class="form-control" id="doors"
                        formControlName="carDoors">
                </div>
        
                <div class="col-md-3 col-6 mt-2">
                    <label for="seats" class="form-label">Seats</label>
                    <input type="number" class="form-control" id="seats"
                        formControlName="carSeats">
                </div>
        
                <div class="col-md-3 col-6 mt-2">
                    <label for="priceHour" class="form-label">Price Per Hour</label>
                    <input type="number" class="form-control" id="priceHour"
                    placeholder="$" formControlName="carPriceHour">
                </div>
        
                <div class="col-md-3 col-6 mt-2">
                    <label for="priceDay" class="form-label">Price Per Day</label>
                    <input type="number" class="form-control" id="PriceDay"
                    placeholder="$" formControlName="carPriceDay">
                </div>
        
        
                <div class="col-12 mt-2">
                    <label for="carImage" class="form-label">Car Image</label>
                    <input type="file" class="form-control" id="carImage"
                        formControlName="carImage">
                </div>

                <div class="col-6 mt-4">
                    <button class="btn btn-warning btn-block" (click)="onCancelClick();$event.preventDefault()">
                        <i class="fas fa-times"></i> <span> Cancel </span>
                    </button>
                </div>
        
                <div class="col-6 mt-4">
                    <button class="btn btn-primary btn-block" [disabled]='!addCarForm.valid'>
                        <i class="fas fa-car"></i> <span> Add Car </span>
                    </button>
                </div>
        
            </div>
        </form>
    </div>
</div>