<div class="row">
    <div class="col-12 col-md-4 offset-md-4 col-lg-2 offset-lg-5">
        <div class="card p-2 ds-1 login-card">            
            <form [formGroup]="addCarForm" (ngSubmit)="onSubmitAddCarForm()">
                <div class="row">

                    <div class="col-12">
                        <label for="carMake" class="form-label">Car Make</label>
                        <input type="text" class="form-control" id="carMake"
                            formControlName="carMake">
                    </div>

                    <div class="col-12 mt-2">
                        <label for="carModel" class="form-label">Car Model</label>
                        <input type="text" class="form-control" id="carModel"
                            formControlName="carModel">
                    </div>

                    <div class="col-12 mt-2">
                        <label for="carYear" class="form-label">Car Year</label>
                        <input type="text" class="form-control" id="carYear"
                            formControlName="carYear">
                    </div>


                    <div class="col-12 mt-2">
                        <label for="carImage" class="form-label">Car Image</label>
                        <input type="file" class="form-control" id="carImage"
                            formControlName="carImage">
                    </div>

                    <div class="col-12 mt-4">
                        <button class="btn btn-primary btn-block">
                            <i class="fas fa-car"></i> <span> Add Car </span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>