<div class="row">
    <div class="col-12 col-md-4 offset-md-4 col-lg-2 offset-lg-5">
        <div class="card p-2 ds-1 login-card">            
            <form [formGroup]="addCarForm" (ngSubmit)="onSubmitAddCarForm()">
                <div class="row">

                    <div class="col-12">
                        <label for="loginFormEmailAddress" class="form-label">Car Make</label>
                        <input type="text" class="form-control" id="loginFormEmailAddress"
                            formControlName="carMake">
                    </div>

                    <div class="col-12 mt-2">
                        <label for="loginFormPassword" class="form-label">Car Model</label>
                        <input type="text" class="form-control" id="loginFormPassword"
                            formControlName="carModel">
                    </div>

                    <div class="col-12 mt-4">
                        <button class="btn btn-primary btn-block">
                            <i class="fas fa-unlock-alt"></i> <span> Add Car </span>
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>