<div class="container">
    <div class="col-12 p-3">    
        <h3>Reset User Password</h3>     
            <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmitUpdatePasswordForm()">
                <div class="row">
                    <div class="col-12 mt-2">
                        <label for="loginFormPassword" class="form-label">New password</label>
                        <input type="password" class="form-control" id="updatePasswordFormNewPassword"
                            placeholder="********" formControlName="password">
                    </div>

                    <div class="col-12 mt-4">
                        <button class="btn btn-primary btn-block">
                            <i class="fas fa-unlock-alt"></i> <span> Update </span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="col-12 mt-4">
                <button (click)="onCancelClick()" class="btn btn-danger btn-block">
                    <span> Cancel </span>
                </button>
            </div>
    </div>
</div>