<div class="row">
    <div class="col-12">
        <h4>Add a Parking Location</h4>
    </div>
</div>

<form [formGroup]="addParkingForm" (ngSubmit)="onSubmitParkingLocationForm()">
    <div class="row">
        <div class="col-12 col-md-6 mt-2">
            <label for="locationName" class="form-label">Location Name</label>
            <input type="text" class="form-control" id="locationName"
                formControlName="locationName">
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        Click on the Map below to select a Parking Location
    </div>
    <div class="col-12 mt-2">
        <mgl-map
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[12]"
        [center]="[144.96723200872293, -37.81774788707633]"
        (click)="onMapClick($event)"
        >
        <mgl-marker
        [lngLat]="mapMarkerLocation"
        >
            <div class="marker">
            P
            </div>
        </mgl-marker>
        </mgl-map>
    </div>
</div>

<div class="row">
    <div class="col-6 offset-6 col-md-3 offset-md-9 mt-2">
        <div class="btn btn-block btn-primary" (click)="onSubmitParkingLocationForm()">
            Save
        </div>
    </div>
</div>
