<div class="row">
    <div class="col-8">
      <h2>Past Bookings</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <!-- <tbody>
          <tr *ngFor="let booking of bookings">
            <th scope="row" >{{booking.date}}</th>
            <td>{{booking.loation}}</td>
            <td>{{booking.price}}</td>
          </tr>
        </tbody> -->
      </table>
    </div>
  </div>