<div class="row">
    <div class="col-8">
      <h2>User Profile</h2>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-4 offset-md-4">
        <div class="card p-2 ds-1 login-card">            
            <div class="row">
                <div class="col-6 mt-4">
                    <span style="font-size: 100px; padding-left: 30px">
                        <i class="fas fa-user-tie"></i>
                    </span>
                </div>

                <div class="col-6 mt-4">
                    <div class="col-12 mt-4">
                        {{user?.name}}
                    </div>
    
                    <div class="col-12 mt-4">
                        {{user?.email}}
                    </div>
    
                    <div class="col-12 mt-4">
                        Verified User
                    </div>
    
                </div>
                
            </div>
            <div class="row" style="padding-left: 30px">
                

                <div class="col-12 mt-4">
                    <h5 class="mt-4 mb-0">Payment Details</h5>
                </div>

                <div class="col-12 mt-4">
                    {{user?.paymentCardNumber}}
                </div>

                <div class="col-12 mt-4">
                    {{user?.paymentCardExpiry}}
                </div>

                <div class="col-12 mt-4">
                    {{user?.paymentCardCvv}}
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-4">
                    <button class="btn btn-primary btn-block">
                        <span> View Past Bookings</span>
                    </button>
                </div>

                <div class="col-12 mt-4">
                    <button class="btn btn-primary btn-block">
                        <span> View Future Bookings</span>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>