<h2>All Cars</h2>

<div>
<tbody>
  <tr *ngFor="let car of cars">
    <td>
      {{car.imageId}}
    </td>
    <td>
      <p> <b>{{car.year}} {{car.make}} {{car.model}}</b>
      </p>
    </td>
    <td>
        <!-- Button Instance  -->
        <!-- <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="model.left"> >
          </label>
        </div>  -->
        <a [title]="cars" [routerLink]="['/cars', car.uuid]">
          <span style="color:black"><h3>&#62;</h3></span>
        </a>

    </td>
  </tr>

</tbody>  
</div>

