<h2>All Cars</h2>

<div>
<tbody>
  <tr *ngFor="let car of cars">
    <td>
      {{car.imageId}}
    </td>
    <td>
      <p> <b>{{car.year}} {{car.make}} {{car.model}}</b>
      </p>
    </td>
    <td>
      ">" placeholder
    </td>
  </tr>
</tbody>  
</div>

<!-- <div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
  </label>
</div> -->


<!-- <h3>{{car.make | uppercase}} Details</h3>
<div><span>Model: </span>{{car.model}}</div>
<div><span>Reservations: </span>{{car.reservations}}</div>
<div><span>Kilometres: </span>{{car.kilometres}}</div>
<div><span>Year: </span>{{car.year}}</div> -->


<!-- 
<br>
<ul class="cars" style="list-style-type:none; padding-left: 0;">
  <li *ngFor="let car of cars">
    <p> <b>{{car.year}} {{car.make}} {{car.model}}</b>
    <br>{{car.reservations}} Reservations 
    <br>{{car.kilometres}} km
    <br>
    <br>
  </li>
</ul> -->

<!-- <thead>
  <tr *ngFor="let car of cars">
    <th scope="col">
      <p> <b>{{car.year}} {{car.make}} {{car.model}}</b>
        <br>{{car.reservations}} Reservations 
        <br>{{car.kilometres}} km
      </p>
    </th>
  </tr>
</thead> -->