<div class="container main p-3">

    <div class="row">
        <div class="col">
            <h3>User Details</h3>
        </div>
        <div class="col-1">
            <div style=" text-align: right; color:red; font-size: 1.5em;">
                <i class="fas fa-times-circle" (click)="onCancelClick();$event.preventDefault()"></i>
            </div>
        </div>
    </div>


    <!--year, model, name-->
    <h6>{{userRecord?.name}}</h6>

    <div class="container">
        <hr class="thin">

        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">Email: </div>
            <div class="col-12 col-sm-6 col-md-9">{{userRecord?.email}}</div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">License State: </div>
            <div class="col-12 col-sm-6 col-md-9">{{userRecord?.licenseCountry}}</div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">License Number: </div>
            <div class="col-12 col-sm-6 col-md-9">{{userRecord?.licenseNumber}}</div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">Status </div>
            <div class="col-12 col-sm-6 col-md-9">
                {{userActive ? 'Active' : 'Disabled'}}
            </div>
            <div class="col-12 col-sm-6 offset-sm-6 col-md-9 offset-md-3">
                <div class="btn btn-sm" [ngClass]="userActive ? 'btn-warning' : 'btn-success'" (click)="onEnableDisableUserClick()">
                    {{ userActive ? 'Disable User' : 'Enable User'}}
                </div>
            </div>
        </div>


    </div>







</div>