<div class="container main">

    <div class="row">
        <div class="col">
            <h3>Booking Summary</h3>
        </div>
        <div class="col-1">
            <div style=" text-align: right; color:red; font-size: 1.5em;">
                <i class="fas fa-times-circle" (click)="onCancelClick();$event.preventDefault()"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5>Booking</h5>
        </div>
    </div>

    <div class="row box">
        <div class="col-6">
            <p>From</p>
            <p class='emphasize'>{{startTime}}</p>
            <p>{{startDate}}</p>
        </div>
        <div class="col-6">
            <p>To</p>
            <p class='emphasize'>{{endTime}}</p>
            <p>{{endDate}}</p>
        </div>
        <div class="col-12">
            <p class='emphasize'>Total Cost</p>
            <p>$ {{bookingCost | number:'1.2-2' }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h5>Location</h5>
        </div>
    </div>

    <div class="row box">
        <div class="col">
            <p class='emphasize'>2 KM away</p> <!-- rolys job : ) -->
            <p> {{location?.friendlyName}} </p>
            <div (click)="viewOnMapClick()" class='view-on-map'>
                <i class="fas fa-map-marker-alt"></i>
                <span>view on map</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Car Details</h5>
        </div>
    </div>

    <div class="row box">
        <div class="col">
            <p>Car description</p>
            <p class='emphasize'>{{car.make}} {{car.model}}</p>
        </div>
        <div class="col">
            <p>Type</p>
            <p class='emphasize'> {{car.body}}</p>
        </div>
    </div>
    <div class="row buttons-div">
        <div class="col-6 cancel">
            <div (click)="onCancelClick()" class="btn btn-block btn-primary btn-cancel">
                Cancel
            </div>
        </div>
        <div *ngIf="bookingStatus == 'unConfirmed'" class="col-6 unlock">
            <div (click)="onConfirmClick()" class="btn btn-block btn-primary">
                Confirm Booking
            </div>
        </div>
        <div *ngIf="bookingStatus == 'confirmed'" class="col-6 unlock">
            <div (click)="onUnlockCarClick()" class="btn btn-block btn-primary">
                Unlock Car
            </div>
        </div>
    </div>
</div>
