/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import './bs-theme.scss';
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr-bs4-alert';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

/* Import mapbox styles */
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';


body {
    font-family: 'Raleway', sans-serif !important;
}

.ds-1{
    -webkit-box-shadow: 4px 4px 4px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: 4px 4px 4px -2px rgba(0,0,0,0.45);
    box-shadow: 4px 4px 4px -2px rgba(0,0,0,0.45);
}

.ds-2{
    -webkit-box-shadow: 11px 11px 13px 3px rgba(0,0,0,0.39);
    -moz-box-shadow: 11px 11px 13px 3px rgba(0,0,0,0.39);
    box-shadow: 11px 11px 13px 3px rgba(0,0,0,0.39);
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
